#### Importing the libs

In [21]:
import pandas as pd
import os
import numpy as np
import csv

import utils
from joblib import Parallel, delayed

#### Loading the data

In [22]:
train_data = pd.read_csv("./Data/train.csv")
metadata_data = pd.read_csv("./Data/item_metadata.csv")

In [23]:
train_data.head(5)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [24]:
train_data.drop_duplicates(subset=['user_id']).user_id

0           00RL8Z82B2Z1
16          02HGRBA06ODU
81          02SRUT1NQYH1
116         03K8AXBL4BX2
123         03P4VFKK12UO
                ...
15932956    ZU702MR210D2
15932966    ZV6EJXAD9929
15932967    ZVIDWWE0KWNB
15932971    ZYDH48FW5Q3Q
15932973    ZYNMLE3MV3LK
Name: user_id, Length: 730803, dtype: object

In [25]:
user_id = "0473FZ8UNXRS"

In [26]:
metadata_data.head(5)

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3     5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4     6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...

### Need to tranform the metadata dataframe
The properties attribute has a string with the elements separated with "|" and I want a correlation matrix between the item and all the properties

#### 1. Split the properties attribute into a list

In [27]:
metadata_data["properties"] = metadata_data["properties"].str.split("|")

#### 2. Process the list into columns and binary values

In [28]:
metadata_data = metadata_data.explode("properties").pivot_table(
    index="item_id", columns="properties", aggfunc="size", fill_value=0
).reset_index()

In [29]:
metadata_data.head(5)

properties,item_id,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
0,5001,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
1,5002,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
2,5003,0,0,0,1,0,1,0,0,1,...,1,0,1,1,0,0,0,1,1,1
3,5004,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,1
4,5005,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

### Get a list of hotels from the train data

In [30]:
example_session = train_data[train_data['user_id'] == user_id].tail(1)
example_session

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
180,0473FZ8UNXRS,bcc452f3350eb,1541062532,3,clickout item,3143258,AU,"Legian, Indonesia",desktop,NaN,1258184|3866722|8929970|2315702|116619|1511641...,51|43|69|49|62|50|55|42|87|46|43|114|194|50|19...

In [31]:
impressions = example_session["impressions"].str.split("|")
impressions

180    [1258184, 3866722, 8929970, 2315702, 116619, 1...
Name: impressions, dtype: object

In [32]:
impressionsList = impressions.tolist()[0]
intImpressionsList = [int(num) for num in impressionsList]
len(impressionsList)

25

## Search User who clicked any hotel

In [33]:
clicked_df = train_data[train_data['reference'].isin(impressionsList)]
clicked_df = clicked_df.drop_duplicates(subset=['user_id', 'reference'])
users = clicked_df['user_id'].drop_duplicates().tolist()

if user_id not in users:
    users.append(user_id)

## Get all clicked hotels by all the users

In [34]:
clicked_df = train_data[train_data['user_id'].isin(users)]
clicked_df = clicked_df.drop_duplicates(subset=['user_id', 'reference'])

clicked_df

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
178,0473FZ8UNXRS,bcc452f3350eb,1541062453,1,interaction item rating,749441,AU,"Seminyak, Indonesia",desktop,NaN,NaN,NaN
179,0473FZ8UNXRS,bcc452f3350eb,1541062460,2,search for item,1258184,AU,"Legian, Indonesia",desktop,NaN,NaN,NaN
180,0473FZ8UNXRS,bcc452f3350eb,1541062532,3,clickout item,3143258,AU,"Legian, Indonesia",desktop,NaN,1258184|3866722|8929970|2315702|116619|1511641...,51|43|69|49|62|50|55|42|87|46|43|114|194|50|19...
32729,F45QW49X6VOX,a434d14e81300,1541243154,1,clickout item,116620,AU,"Legian, Indonesia",tablet,NaN,116620|111929|93911|3866722|1511641|3143258|34...,60|55|101|45|50|96|133|230|107|198|198|327|188...
32730,F45QW49X6VOX,a434d14e81300,1541243545,2,clickout item,114598,AU,"Legian, Indonesia",tablet,NaN,114598|93911|1288161|111929|5192338|99551|3866...,94|101|98|55|132|186|45|53|50|120|73|133|230|9...
...,...,...,...,...,...,...,...,...,...,...,...,...
15820183,P33KQNRB4KJX,3088fae09edc3,1541318072,118,interaction item image,4940052,JP,"Ubud, Indonesia",desktop,NaN,NaN,NaN
15820190,P33KQNRB4KJX,3088fae09edc3,1541318201,125,interaction item image,153964,JP,"Ubud, Indonesia",desktop,NaN,NaN,NaN
15820216,P33KQNRB4KJX,3088fae09edc3,1541318488,151,interaction item image,113891,JP,"Ubud, Indonesia",desktop,NaN,NaN,NaN
15820241,P33KQNRB4KJX,3088fae09edc3,1541318593,176,change of sort order,rating and recommended,JP,"Ubud, Indonesia",desktop,NaN,NaN,NaN
15820242,P33KQNRB4KJX,3088fae09edc3,1541318593,177,filter selection,Focus on Rating,JP,"Ubud, Indonesia",desktop,Reception (24/7)|Free WiFi (Combined)|Swimming...,NaN,NaN

## Prepare all hotels clicked list

In [35]:
hotels_clicked = clicked_df[clicked_df["reference"].str.isnumeric()].drop_duplicates(subset=['reference'])['reference'].tolist()

hotels_clicked

['749441',
 '1258184',
 '3143258',
 '116620',
 '114598',
 '93911',
 '5203238',
 '1289618',
 '344371',
 '1838723',
 '4573192',
 '6473852',
 '3134160',
 '2660484',
 '1293950',
 '2109344',
 '1217454',
 '1714515',
 '343816',
 '96264',
 '739901',
 '4461496',
 '5007734',
 '130904',
 '5618704',
 '6918776',
 '9130052',
 '97829',
 '97908',
 '1950413',
 '2023137',
 '121077',
 '2024225',
 '2564644',
 '3785158',
 '1450939',
 '8862702',
 '8270752',
 '98113',
 '6236626',
 '5081942',
 '6092202',
 '104163',
 '2399520',
 '3154900',
 '119269',
 '823931',
 '3866722',
 '2599578',
 '1951305',
 '1773331',
 '1016689',
 '97907',
 '5722996',
 '1989485',
 '3167682',
 '1888239',
 '2832458',
 '3152684',
 '2590018',
 '153964',
 '1411216',
 '1723173',
 '153963',
 '3156051',
 '2073706',
 '3252443',
 '4852816',
 '1370149',
 '1123340',
 '1157071',
 '3223738',
 '909075',
 '5142264',
 '8706814',
 '1767221',
 '4120180',
 '111929',
 '2045937',
 '9144056',
 '9701474',
 '6784968',
 '1288161',
 '2179654',
 '344506',
 '1328812',
 '1511641',
 '322071',
 '5788568',
 '2157726',
 '1884179',
 '1718271',
 '114281',
 '2151250',
 '2162500',
 '2625059',
 '2634040',
 '2300762',
 '1105744',
 '4926962',
 '7176366',
 '99560',
 '3131908',
 '104111',
 '3183661',
 '2818579',
 '436736',
 '2782748',
 '1081268',
 '3165260',
 '2267126',
 '2734682',
 '116619',
 '5997158',
 '1016731',
 '96275',
 '344316',
 '2670784',
 '104142',
 '1235850',
 '2111298',
 '955179',
 '2733889',
 '93915',
 '93912',
 '95762',
 '904927',
 '912759',
 '2430966',
 '1990977',
 '1480459',
 '159006',
 '94842',
 '4381084',
 '1255543',
 '2577470',
 '2048915',
 '104199',
 '99559',
 '113889',
 '4776560',
 '880943',
 '448351',
 '1890015',
 '1670979',
 '1769069',
 '1162578',
 '840391',
 '2715372',
 '2440828',
 '111933',
 '104166',
 '2549440',
 '156203',
 '4357216',
 '1152134',
 '844346',
 '5192338',
 '1730637',
 '8003726',
 '1498485',
 '127270',
 '1360689',
 '80766',
 '4410188',
 '7073010',
 '385766',
 '9460770',
 '8748620',
 '5801674',
 '2873838',
 '2315702',
 '1369129',
 '4928026',
 '2425154',
 '5825954',
 '2439520',
 '9965988',
 '2203076',
 '104101',
 '1838773',
 '118611',
 '5506634',
 '5746668',
 '3134284',
 '99551',
 '5039662',
 '101927',
 '3155913',
 '2218230',
 '687041',
 '1892097',
 '2717959',
 '99555',
 '407126',
 '112578',
 '2179342',
 '1054742',
 '5178958',
 '3873332',
 '4584348',
 '104194',
 '1394424',
 '3515876',
 '19693',
 '1373238',
 '3971522',
 '950987',
 '669206',
 '564886',
 '109304',
 '2836239',
 '3134296',
 '97287',
 '970085',
 '2202688',
 '344681',
 '1307174',
 '95191',
 '1322072',
 '1829475',
 '99556',
 '4249650',
 '2617738',
 '4878220',
 '1352800',
 '3117580',
 '3762286',
 '2440982',
 '5780268',
 '2576236',
 '4491754',
 '2345514',
 '2335228',
 '1109286',
 '344501',
 '104179',
 '123250',
 '2423502',
 '8929970',
 '2420702',
 '236476',
 '8595',
 '899423',
 '914095',
 '1030426',
 '2121504',
 '6924112',
 '3134252',
 '9224476',
 '1354092',
 '1889527',
 '2915050',
 '6062922',
 '1449755',
 '6521416',
 '2048903',
 '2397725',
 '3150422',
 '1947465',
 '1036868',
 '1307176',
 '104105',
 '1170416',
 '10077274',
 '1101634',
 '1305376',
 '3896782',
 '3182916',
 '119285',
 '2562157',
 '2007175',
 '2596795',
 '1305269',
 '105074',
 '2084770',
 '514386',
 '324271',
 '669131',
 '479906',
 '325851',
 '344411',
 '132112',
 '4091704',
 '2581427',
 '3131916',
 '1713037',
 '5478206',
 '2202606',
 '159004',
 '4576604',
 '10621696',
 '2165446',
 '10593280',
 '448136',
 '2373570',
 '1888107',
 '2901236',
 '4126806',
 '6452880',
 '3152536',
 '147438',
 '7362642',
 '6819496',
 '1088596',
 '2621855',
 '2628969',
 '1510711',
 '122633',
 '10024012',
 '3812764',
 '5594158',
 '5492196',
 '5100056',
 '3533258',
 '99553',
 '99563',
 '2734631',
 '99561',
 '54828',
 '55021',
 '97498',
 '4960488',
 '3406716',
 '2870144',
 '9802220',
 '99544',
 '8423280',
 '115635',
 '382881',
 '94849',
 '2397648',
 '4632906',
 '2549464',
 '3056850',
 '858911',
 '7493142',
 '66777',
 '153676',
 '61153',
 '70547',
 '58631',
 '63269',
 '56688',
 '66779',
 '66768',
 '67069',
 '78242',
 '2590008',
 '1210984',
 '5190346',
 '7939',
 '2665770',
 '7954',
 '67077',
 '617386',
 '68810',
 '7912',
 '73798',
 '61715',
 '1375752',
 '72725',
 '102414',
 '8298066',
 '66787',
 '64878',
 '8589',
 '8618',
 '8586',
 '8588',
 '8590',
 '104122',
 '8477336',
 '5971168',
 '97909',
 '3850644',
 '130687',
 '4567912',
 '2621868',
 '118636',
 '97477',
 '118617',
 '1947367',
 '93914',
 '2592260',
 '4165862',
 '2581129',
 '2307444',
 '3566378',
 '3044934',
 '5059258',
 '111932',
 '104110',
 '2151718',
 '1289444',
 '344651',
 '2029181',
 '5924894',
 '3514934',
 '1980963',
 '3134266',
 '344711',
 '3134274',
 '4286034',
 '96003',
 '1048606',
 '3487132',
 '119487',
 '4347706',
 '1751777',
 '2469906',
 '7037698',
 '1950347',
 '3812680',
 '2523942',
 '2127560',
 '3367164',
 '2870110',
 '7981412',
 '5800486',
 '1083760',
 '381636',
 '148761',
 '130684',
 '1766197',
 '1025482',
 '122299',
 '1495855',
 '2856157',
 '2202598',
 '2470364',
 '2774732',
 '8613488',
 '3184318',
 '4898942',
 '5804526',
 '4537028',
 '2292704',
 '4932668',
 '1711811',
 '2560030',
 '2418013',
 '5180258',
 '2226790',
 '3486834',
 '2568056',
 '6489750',
 '1258386',
 '1334314',
 '2856149',
 '2865506',
 '3184309',
 '2722618',
 '4548284',
 '2672380',
 '2674804',
 '2581486',
 '1016693',
 '2081974',
 '2227436',
 '2804462',
 '1910507',
 '2730388',
 '1731521',
 '2617172',
 '5727624',
 '2817528',
 '5041666',
 '2560851',
 '1479491',
 '130686',
 '2179126',
 '2266230',
 '1838771',
 '2086850',
 '4370964',
 '1412266',
 '979289',
 '4522972',
 '4792454',
 '909069',
 '4260486',
 '5187936',
 '6299630',
 '4134402',
 '93913',
 '2786854',
 '344386',
 '5206878',
 '894539',
 '4374166',
 '1307364',
 '1137203',
 '1017667',
 '99546',
 '668066',
 '109132',
 '5423040',
 '3533382',
 '2013087',
 '1356670',
 '3187316',
 '1523059',
 '2728206',
 '3134272',
 '1781119',
 '2165702',
 '1345868',
 '2715335',
 '5703384',
 '615461',
 '1419919',
 '98898',
 '110365',
 '436591',
 '4927560',
 '2202630',
 '2718378',
 '101830',
 '914555',
 '40899',
 '40896',
 '1455251',
 '5944462',
 '47785',
 '2202960',
 '1713929',
 '344381',
 '5421900',
 '5519766',
 '3487178',
 '4990232',
 '2610230',
 '1646635',
 '2631710',
 '126695',
 '2635383',
 '2941877',
 '2097044',
 '4217208',
 '2477616',
 '4421036',
 '165672',
 '2440436',
 '3971356',
 '2156874',
 '4547092',
 '344531',
 '1041670',
 '7917988',
 '4508466',
 '5805556',
 '436556',
 '2081896',
 '3053438',
 '104114',
 '2733939',
 '4013400',
 '1448807',
 '1828965',
 '5037880',
 '12614',
 '473806',
 '1494019',
 '15119',
 '3518894',
 '2901354',
 '882895',
 '1627075',
 '102029',
 '429646',
 '909079',
 '1228828',
 '1176016',
 '102483',
 '1254218',
 '1045244',
 '568081',
 '880965',
 '2178170',
 '2390982',
 '2146422',
 '2202712',
 '1016719',
 '95636',
 '1183592',
 '897447',
 '1025484',
 '436641',
 '2870695',
 '119249',
 '11032422',
 '1950075',
 '7327034',
 '7372632',
 '104107',
 '3043702',
 '1529439',
 '3367142',
 '906369',
 '2423508',
 '2870416',
 '4601422',
 '5019994',
 '557701',
 '344701',
 '2864080',
 '6847388',
 '4633478',
 '4227958',
 '3485338',
 '4881428',
 '1951295',
 '2577380',
 '154539',
 '1016697',
 '1830073',
 '96903',
 '363006',
 '106146',
 '9653018',
 '7751936',
 '5023858',
 '1123352',
 '4872634',
 '116046',
 '2239398',
 '80507',
 '3176924',
 '3132430',
 '9350',
 '5761724',
 '436651',
 '2206940',
 '476091',
 '152143',
 '3816144',
 '3367468',
 '2367912',
 '2289812',
 '111940',
 '6707446',
 '3501322',
 '3132940',
 '2426601',
 '7863784',
 '2782764',
 '2470352',
 '1137738',
 '5091082',
 '3486898',
 '8285006',
 '2904450',
 '7254500',
 '2869994',
 '474481',
 '2269768',
 '4883610',
 '4572650',
 '94841',
 '1067338',
 '130685',
 '3131922',
 '5157356',
 '2085278',
 '2775956',
 '1394183',
 '2020277',
 '3043742',
 '2455764',
 '5478114',
 '3749352',
 '6918556',
 '4519730',
 '3953380',
 '4890996',
 '6857898',
 '2924916',
 '7800058',
 '2026637',
 '6902542',
 '9651452',
 '2095996',
 '344631',
 '1357354',
 '1416080',
 '2380092',
 '1102986',
 '4123632',
 '2881018',
 '2671608',
 '80522',
 '85425',
 '2952573',
 '1879729',
 '115913',
 '155753',
 '2599318',
 '2508256',
 '3450110',
 '152873',
 '2224720',
 '2307576',
 '2127106',
 '1370100',
 '3045038',
 '111934',
 '684416',
 '7159126',
 '6239272',
 '124227',
 '950185',
 '1285615',
 '2232136',
 '4641180',
 '4521122',
 '2106862',
 '1554137',
 '5927502',
 '1394414',
 '1310259',
 '2328416',
 '2156352',
 '1827995',
 '2317294',
 '2900138',
 '1184386',
 '1001287',
 '1634497',
 '4520538',
 '1790317',
 '109071',
 '54985',
 '55089',
 '2100706',
 '4623558',
 '1016715',
 '1884763',
 '1016691',
 '344451',
 '2599554',
 '344571',
 '2941860',
 '448946',
 '3514936',
 '2202530',
 '448301',
 '3514716',
 '344621',
 '3477912',
 '54907',
 '4530144',
 '2123132',
 '2145018',
 '4161684',
 '5972164',
 '116371',
 '3958296',
 '3936016',
 '1150893',
 '8774168',
 '103225',
 '104137',
 '3148572',
 '2202812',
 '2081970',
 '2395827',
 '5127660',
 '5790282',
 '2559945',
 '1788989',
 '407331',
 '1455431',
 '386766',
 '3184376',
 '2621842',
 '40923',
 '2727758',
 '8231348',
 '7829334',
 '1833933',
 '5122084',
 '1646309',
 '2730152',
 '1109251',
 '2423510',
 '54984',
 '102059',
 '54909',
 '102033',
 '2614164',
 '105106',
 '667411',
 '153053',
 '326141',
 '54830',
 '980147',
 '955941',
 '55076',
 '1491379',
 '54843',
 '54927',
 '54841',
 '2772988',
 '908537',
 '1102232',
 '54829',
 '11095542',
 '6723582',
 '6445168',
 '7811002',
 '1552865',
 '1408321',
 '1361626',
 '5852410',
 '7075324',
 '5625326',
 '684426',
 '1460043',
 '1895513',
 '7809094',
 '2305640',
 '2021353',
 '4598920',
 '2900202',
 '5825826',
 '1888207',
 '3756308',
 '2157774',
 '2655482',
 '3131926',
 '3143260',
 '3511652',
 '2599680',
 '1717963',
 '2202644',
 '2816220',
 '9667458',
 '2000755',
 '379381',
 '1711219',
 '1370248',
 '2048909',
 '9777',
 '5186090',
 '9418',
 '5970526',
 '2456288',
 '101420',
 '101419',
 '4486858',
 '5704440',
 '12667',
 '7912786',
 '2576892',
 '6767026',
 '9599926',
 '401351',
 '5034666',
 '5509338',
 '1951369',
 '2327890',
 '2618146',
 '4940052',
 '113891']

## Prepare matrix

In [38]:
data_uid = f'clicked_all_history_user_{user_id}'

path = f'../ProcessedData/metadata/{data_uid}'

os.makedirs(path, exist_ok=True)

with open(f'{path}/{data_uid}-relations.csv', 'w') as f:
    write = csv.writer(f, lineterminator='\n')
    for user in users:

        user_actions = clicked_df[clicked_df["user_id"] == user]
        clicked_elements = user_actions[user_actions["reference"].str.isnumeric()]["reference"].tolist()

        # Array with ids that will be 1
        user_relation_ids = Parallel(n_jobs=10)(
            delayed(lambda elem: hotels_clicked.index(elem) if elem in hotels_clicked else None)(clicked_element) for
            clicked_element in clicked_elements)

        user_relation_ids = set(filter(None, user_relation_ids))

        if users.index(user) % 100 == 0:
            print(users.index(user))

        write.writerow(user_relation_ids)

0
100
200
300

In [39]:
with open(f'{path}/{data_uid}-objects.csv', 'w') as f:
    write = csv.writer(f, lineterminator='\n')
    write.writerow(users)

with open(f'{path}/{data_uid}-attributes.csv', 'w') as f:
    write = csv.writer(f, lineterminator='\n')
    write.writerow(hotels_clicked)